 +,trim_trailing_whitespaceroot = true
6u su y09 564;'u 
;6
 ';57
  ;i
  e5p e-60= 7i];e
  5; sry ujetypeot i
  etu
  'u9405e'u
  'utth-09-9-h908d97g876    67e86e86w87euou978(&(D(^&D*S&^D*SD*%^7p6[4935094803574'6;lu'wlu';lu[w96u'w44;u
  4;6u
  ;5 
  i 5;7p+t ,
  5e6
  570-5y9w=p7
  4;7
  p45
  7;7po89
  p4586;9 [
    67p8ep7
    ip8
     p e]567op8[e 5-6u8 085y- b05i70w98n 5yisey 
     s5' o'o5s
     ey[siyt7b54[o 'se5oy-064iu]w3'yuip5iyek;eirptoise08[e
     siyt7b54o[9y-059-3q-09830598tpo3wt;k;et'wlry'wp
     ywp5
     up]w4[6pu
     4w6pu
     4wp68]p4586';w
     py]wp5
     yup;
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     yu;seoiyeiu'e;u
     a
     e5'u
     6'u940546'u
     6u] t=h 990d g80t[h
     u'
     46'u
     ]t00-h-0998g8 r-0i87998    6797r97rpu48 t7n[
        o}OIO)T}{P{((R*T(*&)*RY)T)))(873 ]35o[ 45= 0=46-0p]46[p7]5p567' 
        ' 
        45[6+79
         s[5\ b\6]e +-9,-6*/7 ,])}}
     ]]
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     
     ]]]]]
  ]]])))
  ; 6
  '6;i
  ';7o
  6'8;
  s5[60-s980es98y0st8 ye8y050s80 8y098u6'
  ;
  w; 
  ;'46
   ;'46
   ';
   ';
   ';   
   ;
   ;24c
    ; 42
    ;   po89    298098  03509098vb080   v80803  i5'max_line_length3
    max_line_lengthvl
    3vl
    5
    3   [95030  83v0iv3 530780900*) )(E&(E(^&ET*&$Ti 3l6' 3l'4w;l
     ;4
     5';
      l]4o u9405-y094-97- 045[ 6pu
      57;
      86;7
      96;8
      '94]06-9068457])))]]
[{*.html,*.js,*.json,*.md,*.ts,*.yml,*eslintrc}]
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
