{
  "extends": "airbnb-base",
  "rules": {
    "consistent-return": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "linebreak-style": 0,
    "max-len": [2, 160],
    "no-console": 0,
    "no-underscore-dangle": 0
  },
  "parser": "babel-eslint"
}
