{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "rules": {
    "consistent-return": 0,
    "global-require": 0,
    "import/extensions": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "linebreak-style": 0,
    "max-len": [2, 160],
    "mocha/no-exclusive-tests": "error",
    "no-console": 0,
    "no-throw-literal": 0,
    "no-underscore-dangle": 0
  }
}
