node_modules
dist
yarn-error.log
packages/.old
**/tsconfig.json
!/tsconfig.json
**/tslint.json
!/tslint.json
docs
doc
.vscode
**/.npmignore
!/.npmignore
packages/utils/types/index.d.ts
packages/maker/**/README.md
packages/publisher/**/README.md
packages/plugin/**/README.md
packages/api/cli/README.md
!packages/**/base/README.md
!/README.md
packages/*/*/index.ts