.nyc_output
.vscode
*.lcov
/coverage
dist
docs
doc
node_modules
yarn-error.log
packages/**/.npmignore
packages/**/tsconfig.json
!packages/template/*/tmpl/tsconfig.json
packages/**/tslint.json
packages/**/yarn.lock
packages/*/*/index.ts
packages/.old
packages/utils/types/index.d.ts
packages/api/cli/README.md
!packages/**/base/README.md
!/README.md
packages/**/tsconfig.tsbuildinfo
packages/**/.swc
.webpack
