.nyc_output
dist/
docs/
packages/tsconfig.json
packages/*/*/dist
packages/*/*/doc
packages/*/*/index.d.ts
packages/*/*/index.ts
packages/*/*/README.md
packages/*/*/tsconfig.json
packages/*/*/typedoc.json
packages/api/core/spec/fixture/bad_external_forge_config/bad.js
packages/plugin/webpack/spec/**/.webpack
.links

/.nx/cache
/.nx/workspace-data
