.nyc_output
dist/
docs/
packages/*/*/dist
packages/*/*/doc
packages/*/*/index.d.ts
packages/*/*/index.ts
packages/*/*/README.md
packages/*/*/tsconfig.json
packages/api/core/test/fixture/bad_external_forge_config/bad.js
packages/externals/create-electron-app/src/*
packages/plugin/webpack/test/**/.webpack
