name: CI

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:
  merge_group:
    types: [checks_requested]

env:
  NODE_VERSION: 20.17.0

jobs:
  lint-and-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Configure git
        run: git config --global core.autocrlf input

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: yarn

      # TODO(Forge 8): remove this once we can upgrade to `@electron/rebuild` v4
      - name: Set up Python 3.11 (with distutils)
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build Electron Forge
        run: yarn build

      - name: Cache ESLint
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: .eslintcache
          key: v2-lint-dependencies-${{ hashFiles('yarn.lock') }}-${{ hashFiles('.eslintrc.json') }}

      - name: Lint codebase
        run: |
          yarn lint
          yarn syncpack

      - name: Upload build artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist-files
          path: packages/*/*/dist/*

  fast-tests:
    needs: lint-and-build
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]
        arch: [x64, arm64]
        exclude:
          - os: windows-latest
            arch: arm64
          - os: ubuntu-22.04
            arch: arm64
          - os: macos-latest
            arch: x64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Configure git
        run: git config --global core.autocrlf input

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: yarn

      # TODO(Forge 8): remove this once we can upgrade to `@electron/rebuild` v4
      - name: Set up Python 3.11 (with distutils)
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        run: yarn install --immutable

      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-files
          path: packages

      - name: Windows setup
        if: runner.os == 'Windows'
        shell: bash
        run: |
          cd "$PROGRAMFILES/nodejs/node_modules/npm/node_modules/@npmcli/run-script"
          npm install node-gyp@9.4.0

      - name: Linux setup
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            --no-install-recommends \
            xvfb \
            libnss3 \
            libasound2 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libgdk-pixbuf2.0-dev \
            libgtk-3-0 \
            libgbm1
          sudo add-apt-repository -y ppa:alexlarsson/flatpak

      - name: Install pnpm
        run: npm install -g pnpm@10.0.0

      - name: Run fast tests
        run: |
          mkdir -p ./reports/out
          yarn test:fast --reporter=default --reporter=junit --outputFile="./reports/out/test_output.xml"

  slow-tests:
    needs: lint-and-build
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]
        arch: [x64, arm64]
        exclude:
          - os: windows-latest
            arch: arm64
          - os: ubuntu-22.04
            arch: arm64
          - os: macos-latest
            arch: x64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Configure git
        run: git config --global core.autocrlf input

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: yarn

      # TODO(Forge 8): remove this once we can upgrade to `@electron/rebuild` v4
      - name: Set up Python 3.11 (with distutils)
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.11

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install dependencies
        run: yarn install --immutable

      - name: Download build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: dist-files
          path: packages

      - name: Windows setup
        if: runner.os == 'Windows'
        shell: bash
        run: |
          cd "$PROGRAMFILES/nodejs/node_modules/npm/node_modules/@npmcli/run-script"
          npm install node-gyp@9.4.0

      - name: Linux setup
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            --no-install-recommends \
            xvfb \
            libnss3 \
            libasound2 \
            libatk1.0-0 \
            libatk-bridge2.0-0 \
            libgdk-pixbuf2.0-dev \
            libgtk-3-0 \
            libgbm1

      - name: Install pnpm
        run: npm install -g pnpm@10.0.0

      - name: Run slow tests
        run: |
          mkdir -p ./reports/out
          yarn test:slow --reporter=default --reporter=junit --outputFile="./reports/out/test_output.xml"
          yarn test:verdaccio --reporter=default --reporter=junit --outputFile="./reports/out/test_output_verdaccio.xml"

  required-ci:
    needs:
      - lint-and-build
      - fast-tests
      - slow-tests
    runs-on: ubuntu-latest
    steps:
      - name: We are done
        run: echo "Hello World"
