name: API Documentation

on:
  workflow_dispatch:
  push:
    tags:
      - v7.**

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Generate GitHub App token
        uses: electron/github-app-auth-action@384fd19694fe7b6dcc9a684746c6976ad78228ae # v1.1.1
        id: generate-token
        with:
          creds: ${{ secrets.GH_APP_CREDS }}

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Get short SHA for HEAD
        id: get-short-sha
        run: echo "sha=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT

      - name: Use Node.js LTS
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 20.x
          cache: yarn

      - name: Build
        shell: bash
        run: |
          yarn
          yarn docs

      - name: Prepare docs
        uses: malept/github-action-gh-pages@e151760357583e2f9152f8e8c8658ceb3ccf3d64 # tag: v1.3.1
        with:
          cname: js.electronforge.io
          defaultBranch: main
          noCommit: true
          showUnderscoreFiles: true
          versionDocs: true
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Commit docs
        uses: dsanders11/github-app-commit-action@56f54b482f8019a16d8f8b0bfbbc9fa3ee9802e8 # v1.3.0
        with:
          fail-on-no-changes: false
          message: 'deploy: ${{ steps.get-short-sha.outputs.sha }}'
          token: ${{ steps.generate-token.outputs.token }}
