name: API Documentation

on:
  push:
    tags:
      - v6.**

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3.1.0
        with:
          submodules: true
          fetch-depth: 0

      - name: Use Node.js LTS
        uses: actions/setup-node@8c91899e586c5b171469028077307d293428b516 #v.3.5.1
        with:
          node-version: lts/*
          cache: yarn

      - name: Build
        shell: bash
        run: |
          yarn
          yarn docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          cname: js.electronforge.io
