name: API Documentation

on:
  workflow_dispatch:
  push:
    tags:
      - v7.**

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Generate GitHub App token
        uses: electron/github-app-auth-action@384fd19694fe7b6dcc9a684746c6976ad78228ae # v1.1.1
        id: generate-token
        with:
          creds: ${{ secrets.GH_APP_CREDS }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Get short SHA for HEAD
        id: get-short-sha
        run: echo "sha=$(git rev-parse --short=7 HEAD)" >> $GITHUB_OUTPUT

      - name: Use Node.js LTS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20.x
          cache: yarn

      - name: Build
        shell: bash
        run: |
          yarn
          yarn docs

      - name: Prepare docs
        uses: malept/github-action-gh-pages@650f950700faa00064f6fc9d2c4c801ec89b75b7 # tag: v1.4.1
        with:
          cname: js.electronforge.io
          defaultBranch: main
          noCommit: true
          showUnderscoreFiles: true
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Commit docs
        uses: dsanders11/github-app-commit-action@43de6da2f4d927e997c0784c7a0b61bd19ad6aac # v1.5.0
        with:
          fail-on-no-changes: false
          message: 'deploy: ${{ steps.get-short-sha.outputs.sha }}'
          token: ${{ steps.generate-token.outputs.token }}
