name: Close issues that have been blocked for two weeks

on:
  schedule:
    - cron: '0 0 * * *'

permissions: {}

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          any-of-labels: 'blocked/needs-info,blocked/needs-repro'
          labels-to-remove-when-unstale: 'blocked/needs-info,blocked/needs-repro'
          days-before-pr-stale: 9001 # good luck to whoever leaves their PR up for 25 years
